/* These are element selectors */
div {
    font-weight: bold;
    font-style: oblique;
    letter-spacing: 1px;
}

a {
    border-bottom: none;
}

/* These are Adjacent Selectors */
section + section  {
    background-color: lightblue;
}

header + section {
    background-color: lightgreen;
}

/* These are Immediate Decendant Selectors */
h1 > span {
    font-size: 1in;
}

/* These are class selectors */
.pink-background {
    background-color: pink;
}

.italics {
    font-style: italic;
}

/* These are ID selectors */
#center {
    margin: auto;
    text-align: center;
}

/* These are Decendency Selectors (will apply regardless of depth) */
h1 span {
    border: 2px dotted black
}

/* This is the universal selector */
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}